/** sefty **/
/* sefty */
/** sefty **/

@import url('https://fonts.googleapis.com/css?family=Bricolage+Grotesque&display=swap');

:root {
  --base-color: hsl(220, 40%, 1.5%);
  --base-variant: hsl(220, 40%, 3%);
  --background-color: hsl(220, 40%, 2.5%, 40%);
  --button-background: hsl(220, 40%, 10%);
  --highlight-color: hsl(220, 40%, 20%);
  --primary-text: hsl(0, 0%, 90%);
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: 'Bricolage Grotesque', sans-serif;
  color: var(--primary-text);
  background-color: var(--base-color);
  background: conic-gradient(from 90deg at 1px 1px, var(--base-color) 90deg, var(--base-variant) 0) 0 0/75px 75px;
  margin: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

main {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 0.5s;
}

input {
  padding: 10px 15px;
  font-size: 1.25rem;
  background-color: var(--background-color);
  color: var(--primary-text);
  border: 1px solid var(--button-background);
  border-radius: 15px;
  z-index: 9999;
}

#gradient {
  width: 3000px;
  height: 3000px;
  background-image: radial-gradient(closest-side, rgba(255, 255, 255, 0.03), transparent);
  position: fixed;
  top: -15%;
  animation: gradient 5s infinite ease-in-out alternate;
}

@keyframes gradient {
  0% {
    top: -15%;
  }
  50% {
    top: -20%;
  }
  100% {
    top: -15%;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
